.music {
  width: 100%;
  padding: 0.1rem;
  color: #8a8787;
  .music-title {
    padding-bottom: 0.1rem;
    color: #000;
  }
  .m-list-wrap {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  .m-song-card {
    cursor: pointer;
    height: 0.5rem;
    width: calc(50%);
    display: flex;
    flex-wrap: nowrap;
    padding: 0.06rem;
    border-radius: 5px;
  }
  .m-song-card:hover {
    background-color: rgba(187, 184, 184, 0.226);
  }
  .m-order-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 0.14286rem;
    margin-right: 0.057143rem;
  }
  .m-img-wrap {
    width: 0.4rem;
    height: 100%;
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .m-song-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    overflow: hidden;
    padding-left: 0.1rem;
  }
  .m-song-name,
  .m-singer {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .m-play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgb(243, 82, 82);
    font-size: 0.16rem;
    transform: translate(-50%, -50%);
  }
}
.fade-enter,
.fade-appear {
  opacity: 0;
}
//enter-active指入场后到入场结束的过程，appear-active则是页面第一次加载自动执行
.fade-enter-active,
.fade-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}
//入场动画执行完毕后，保持状态
.fade-enter-done {
  opacity: 1;
}
//同理，出场前的一刹那，以下就不详细解释了，一样的道理
.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.fade-exit-done {
  opacity: 0;
}
